body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-top: 0px;
  padding-left: 10px;
  overflow-y: scroll; 
}

h1 {
  color: rgb(0, 0, 0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  }

  select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    width: 160px;
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #cc0000;
    color: #fff;
    padding: 7px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th {
  background-color: #cc0000;
  color: #ffffff;
  width: 250px;
  padding: 12px 15px;
}

.styled-table td {
  padding: 12px 15px;

}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #cc0000;
}